<div class="col-md-3 col-lg-2 d-flex flex-column flex-shrink-0 p-3 text-dark" style="width: 5.5em;">
    <a href="/" class="d-block mb-3 text-primary text-decoration-none text-center" title="Home" data-bs-toggle="tooltip" data-bs-placement="right"> Search
        <i class="bi bi-search" style="font-size: 2rem;"></i>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="{% url 'a_board' %}" class="nav-link active py-3 border-bottom rounded-0" aria-current="page" title="A Board" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-house-door-fill" style="font-size: 1.5rem;"></i>
            </a>
        </li>
        <li>
            <a href="{% url 'b_board' %}" class="nav-link py-3 border-bottom rounded-0" title="B Board" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-speedometer2" style="font-size: 1.5rem;"></i>
            </a>
        </li>
        <li>
            <a href="{% url 'b_board' %}" class="nav-link py-3 border-bottom rounded-0" title="Orders" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-table" style="font-size: 1.5rem;"></i>
            </a>
        </li>
        <li>
            <a href="{% url 'b_board' %}" class="nav-link py-3 border-bottom rounded-0" title="Products" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-grid" style="font-size: 1.5rem;"></i>
            </a>
        </li>
        <li>
            <a href="{% url 'b_board' %}" class="nav-link py-3 border-bottom rounded-0" title="Customers" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-people" style="font-size: 1.5rem;"></i>
            </a>
        </li>
    </ul>
    <div class="dropdown border-top">
        <a href="#" class="d-flex align-items-center justify-content-center p-3 link-light text-decoration-none dropdown-toggle text-primary" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>
